---
const { items = [], hidden = true } = Astro.props;
---
{!hidden && (
  <nav class="breadcrumbs" aria-label="Хлебные крошки">
    {items.map((item, index) => (
      <span>
        <a href={item.url}>{item.name}</a>
        {index < items.length - 1 ? " / " : ""}
      </span>
    ))}
  </nav>
)}
